*, *::before, *::after { margin: 0; padding: 0; box-sizing: inherit; }

body { box-sizing: border-box; font-family: "Inter", sans-serif; font-size: 19px; font-weight: 300; line-height: 26px; text-align: center; color: #202046; }

@media (min-width: 992px) { body { font-size: 32px; } }

.container { width: 87%; max-width: 1200px; margin: 25px auto 0; }

.testimonial-slider__graphic { display: flex; justify-content: center; align-items: center; position: relative; padding: 30px 0; margin-bottom: 20px; background-image: url(../images/pattern-bg.svg); background-size: contain; background-repeat: no-repeat; }

.testimonial-slider__photo { width: 77.5%; border-radius: 7px; box-shadow: 0px 15px 40px -20px rgba(0, 0, 0, 0.75); }

.testimonial-slider__text { position: relative; padding-top: 25px; }

.testimonial-slider__quotes-icon { display: block; position: absolute; top: 0; left: 50%; transform: translateX(-50%); height: 50px; z-index: 1; }

.testimonial-slider__paragraph { position: relative; margin-bottom: 20px; }

.testimonial-slider__name, .testimonial-slider__status { display: block; font-size: 15px; line-height: 20px; }

.testimonial-slider__name { font-weight: 700; }

.testimonial-slider__status { color: #babacf; }

.testimonial-slider__switches { position: absolute; bottom: 10px; left: 50%; display: flex; width: 80px; height: 40px; border-radius: 50px; background-color: #fff; cursor: pointer; transform: translateX(-50%); z-index: 5; }

.testimonial-slider__button { display: flex; justify-content: center; align-items: center; width: 40px; height: 40px; background-color: #fff; border: none; border-radius: 50%; cursor: pointer; }

.footer { position: relative; padding-top: 80px; background: url(../images/pattern-curve.svg) bottom left/contain no-repeat; }

.attribution { position: relative; font-size: 11px; text-align: center; z-index: 1; }

.attribution a { color: #3e52a3; }

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after, .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after { content: ''; }
