// variables

//breakpoints
$sm: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// colors

// dark blue
$primary: hsl(240, 38%, 20%);
//grayish blue
$secondary: hsl(240, 18%, 77%);

// fonts
$font-main: 'Inter', sans-serif;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	font-family: $font-main;
	font-size: 19px;
	font-weight: 300;
	line-height: 26px;
	text-align: center;
	color: $primary;

	@media (min-width: $lg) {
		font-size: 32px;
		line-height: 45px;
		text-align: left;
	}
}

.container {
	width: 87%;
	max-width: 1200px;
	margin: 25px auto 0;

	@media (min-width: $lg) {
		margin-top: 50px;
	}
}

.testimonial-slider {
	&__slide {
		@media (min-width: $lg) {
			height: 620px;
		}
	}
	&__graphic {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		padding: 30px 0;
		margin-bottom: 20px;
		background-image: url(../images/pattern-bg.svg);
		background-size: contain;
		background-repeat: no-repeat;

		@media (min-width: $lg) {
			order: 2;
			position: absolute;
			top: 0;
			right: 0;
			width: 58%;
		}
	}

	&__photo {
		width: 77.5%;
		border-radius: 7px;
		box-shadow: 0px 15px 40px -20px rgba(0, 0, 0, 0.75);
	}

	&__text {
		position: relative;
		padding-top: 25px;

		@media (min-width: $lg) {
			width: 52%;
		}
	}

	&__quotes-icon {
		display: block;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		height: 50px;
		z-index: 1;

		@media (min-width: $lg) {
			left: 25%;
			height: 100px;
		}
	}

	&__paragraph {
		position: relative;
		margin-bottom: 20px;
	}

	&__name,
	&__status {
		display: block;
		font-size: 15px;
		line-height: 20px;

		@media (min-width: $lg) {
			display: inline-block;
			font-size: 20px;
		}
	}

	&__name {
		font-weight: 700;
	}

	&__status {
		color: $secondary;
	}

	&__switches {
		position: absolute;
		bottom: 10px;
		left: 50%;
		display: flex;
		width: 80px;
		height: 40px;
		border-radius: 50px;
		background-color: #fff;
		cursor: pointer;
		transform: translateX(-50%);
		z-index: 5;

		@media (min-width: $lg) {
			bottom: 3px;
			left: 28%;
			width: 110px;
			height: 55px;
		}
	}

	&__button-box {
	}

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		background-color: #fff;
		border: none;
		border-radius: 50%;
		cursor: pointer;

		@media (min-width: $lg) {
			width: 55px;
			height: 55px;
		}

		&--prev {
		}
	}
}

.footer {
	position: relative;
	padding-top: 80px;
	background: url(../images/pattern-curve.svg) bottom left / contain no-repeat;
}

.attribution {
	position: relative;
	font-size: 11px;
	text-align: center;
	z-index: 1;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

// Swiper classes
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after,
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
	content: '';
}
